/*  your css code here. If applicable */
p::before{
	font-size:20px;
	color:rgb(0,0,0);
	content:"Before Element";
}
p::after{
	font-size:20px;
	color:rgb(0,0,0);
	content:"After Element"
}
#container{
	margin:20px;
}