/*  your css code here. If applicable */
p::before{
	font-size:20px;
	color:#f00;
	content:"Before Element";
}
p::after{
	font-size:20px;
	color:#f00;
	content:"After Element"
}
#container{
	margin:20px;
}